.orgsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3em;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}