.stepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2em 0 2em 0;
}

.stepsColumns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.stepsColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  padding: 2em;
  text-align: center;
  background-color: $color-background-contrast;
}