@import "node_modules/reset-css/sass/reset";
@import "settings/fonts";
@import "settings/colors";
@import 'partials/header';
@import 'partials/stats';
@import 'partials/steps';
@import 'partials/aboutus';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 18px;
}

.decor {
  width: 8em;
  height: 2em;
  background-image: url("../../src/assets/Decoration.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bigButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 300px;
  color: $color-text-primary;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.2em;
  border: 1px solid $color-text-primary;
  margin: 10px;
  padding: 13px;
  flex-basis: 50%;
}

//div {
//  height: 300px;
//  border: 2px solid red;
//}

